---
import HeadingOne from "@/atoms/heading/one/index.astro"
import Button from "@/atoms/button/primary/index.astro"
---
<section class="p-4 bg-kn_green_two grid gap-24">
    <HeadingOne>We create content that we are proud of. Otherwise — we don't.</HeadingOne>
    <Button>Book a strategy call</Button>
</section>
