---
import HeadingOneWhite from "@/atoms/heading/one/white/index.astro"
---
<section class="bg-black">
    <div class="p-4">
        <HeadingOneWhite>How we Work</HeadingOneWhite>
    </div>
    {

        Array(4).fill(0).map( ( value, index ) => {

            return (
                <div class={`bg-zinc-200 p-4 grid gap-4`}>
                    <div class="bg-zinc-400 size-16 rounded-full flex justify-center items-center text-xl">{ index + 1}</div>
                    <div>Discovery call</div>
                    <div>30 min</div>
                    <div>This initial 1-on-1 chat allows us to understand your company's goals, target audience, and current digital presence and challenges.</div>
                </div>
            )

        })

    }
</section>